<img data-interchange=
  "
  [{{ image.image | imgix_url: w: 640, h: 640, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 1}}, small]
  [{{ image.image | imgix_url: w: 1024, h: 1434, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 1}}, medium]
  [{{ image.image | imgix_url: w: 1200, h: 1680, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 1}}, large]
  [{{ image.image | imgix_url: w: 1440, h: 2016, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 1}}, xlarge]
  [{{ image.image | imgix_url: w: 1440, h: 2016, auto: "format", lossless: "true", q: 60, fit: "crop", dpr: 1}}, xxlarge]
  "
  alt="{{ image.alt }}"
>