<!-- Footer -->
<div class="grid-x grid-padding-x grid-padding-y align-justify padding-2 footer" data-aos="fade-up">
  
  <div class="shrink cell align-self-bottom">
    <a href="https://www.instagram.com/empiricalcph/" target="_blank">© 2018</a>
  </div>
  
  <div class="shrink cell">
    <ul class="menu vertical text-center">
      
      <li><a href="https://www.instagram.com/empiricalcph/" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
      <li><a href="https://www.facebook.com/empiricalcph" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
      <li class="show-for-large"><a href="https://twitter.com/empiricalcph" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
      <li><a href="mailto:contact@empiricalspirits.co"><svg class="icon icon-send"><use xlink:href="/assets/icons/symbol-defs.svg#icon-send"></use></svg></a></li>
      
    </ul>
  </div>

  
</div>
<!-- End Footer -->