<!-- Footer -->
<div class="grid-x grid-padding-x grid-padding-y align-justify footer">
  
  <div class="shrink cell">
    <ul class="menu simple">
      <li><a href="https://www.instagram.com/niallkenny/" target="_blank"><svg class="icon icon-socials icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
      <li><a href="https://vimeo.com/niallkenny" target="_blank"><svg class="icon icon-socials icon-vimeo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-vimeo"></use></svg></a></li>
    </ul>
  </div>
  
  <div class="shrink cell slide-in-down">
    <a href="/">© {{ 'now' | date: "%Y" }}</a>
  </div>
  
</div>
<!-- End Footer -->