<!-- Footer -->
<div class="grid-x grid-padding-x grid-padding-y align-justify" id="footer">
  
  <div class="shrink cell">
    <ul class="menu simple">
      
      <li><a href="https://www.instagram.com/empiricalcph/" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
      <li><a href="https://www.facebook.com/empiricalcph" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
      <li class="show-for-large"><a href="https://twitter.com/empiricalcph" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
      <li><a href="mailto:someone@yoursite.com"><svg class="icon icon-send"><use xlink:href="/assets/icons/symbol-defs.svg#icon-send"></use></svg></a></li>
      
    </ul>
  </div>
  
  <div class="shrink cell slide-in-down">
    
   <ul class="menu simple text-uppercase">
      
      <li class="show-for-large"><a href="https://www.instagram.com/empiricalcph/" target="_blank">Terms</a></li>
      <li class="show-for-large"><a href="https://www.facebook.com/empiricalcph" target="_blank">Privacy</a></li>
      <li><a href="https://www.facebook.com/empiricalcph" target="_blank">©</a></li>
      
    </ul>
    
  </div>
  
</div>
<!-- End Footer -->