{% for entry in site.data.navigation-offcanvas %}{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}{% if fullurl == page.url %}{% assign current_page = fullurl %}{% break %}{% elsif page.url contains fullurl %}{% assign current_page = fullurl %}{% endif %}{% endfor %}
<!-- Navigation -->
<div class="grid-y align-center" style="height: 100%;">
  
  <div class="shrink cell">
    
  <div class="grid-x grid-padding-y">
  <div class="small-12 cell">
    <ul class="menu vertical align-center text-uppercase">
          {% for entry in site.data.navigation-offcanvas %}
          {% if entry.url == current_page %}
          {% assign current = ' class="active"' %}
          {% else %}
          {% assign current = null %}
          {% endif %}
          {% assign sublinks = entry.sublinks %}
          {% if sublinks %}
          <li{{ current }}>
          <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
          <ul class="menu vertical">
          {% for sublink in sublinks %}
          <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
          {% endfor %}
          </ul>
          </li>
          {% else %}
          <li{{ current }}><a href="{% if entry.url %}{{ entry.url }}{% elsif entry.id %}{{ entry.id }}{% endif %}" class="option" {% if entry.id %}data-smooth-scroll{% endif %}><span>{{ entry.title }}<span></a></li>
          {% endif %}
          {% endfor %}
    </ul>
  </div>
  </div>
    
    
  <div class="grid-x grid-padding-y">
    <div class="small-12 cell">
    <ul class="menu align-center text-center">
      
      <li><a href="https://www.instagram.com/empiricalcph/" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
      <li><a href="https://www.facebook.com/empiricalcph" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
      <li><a href="https://twitter.com/empiricalcph" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
      <li><a href="mailto:contact@empiricalspirits.co"><svg class="icon icon-send"><use xlink:href="/assets/icons/symbol-defs.svg#icon-send"></use></svg></a></li>
      
    </ul>
    </div>
  </div>
  
  </div>

</div>
<!-- End Navigation -->