@font-face {
  font-family: 'GT America Expanded Medium';
  src: 
  url('../fonts/gt-america-expanded-medium.woff2') format('woff2'), 
  url('../fonts/gt-america-expanded-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT America Expanded Bold';
  src: 
  url('../fonts/gt-america-expanded-bold.woff2') format('woff2'), 
  url('../fonts/gt-america-expanded-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gallery';
  src: 
  url('../fonts/gallery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}