//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Loader
//   5. Navigation
//   6. Section One
//   7. Section Two
//   8. Section Three
//   9. Section Four
//   10. Projects
//   11. Contact
//   12. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

video {
  z-index: -10;
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

.section__title {
  letter-spacing: $letter-spacing--loose;
  text-indent: $letter-spacing--loose;
}

.section {
  padding: 5rem 0rem 5rem 0rem;
}

.section-page  {
  padding: 5rem 0rem 5rem 0rem;
}

#preload {
  position: absolute;
  overflow: hidden;
  left: -9999px;
  top: -9999px;
  height: 1px;
  width: 1px;
}

$aos-distance: 300px !default;

[data-aos='fade-up'] {
  transform: translate(0, $aos-distance);
}

#menu {
	position:fixed;
	top:0;
	left:0;
	z-index: 14;
	width: 100%;
}

#footer {
	position:fixed;
	bottom:0;
	left:0;
	z-index: 14;
	width: 100%;
}


// 3. Typography
// -------------

i, cite, em, var, address, dfn {
  font-style: normal;
}


// 4. Loader
// ------

.loader {
  z-index: 15;
  position: fixed;
  background: $black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  opacity: 1;
  transition: $primary-transition;
  visibility: visible; 
  &.loaded {
    opacity: 0;
    visibility: hidden;
  }
}


// 5. Navigation
// -------------

.navigation__logo {
  z-index: 2;
}

.navigation__logo img {
  width: 4rem;
  height: auto;
}

.navigation__menu {
  z-index: 2;
}

.navigation {
  z-index: 14;
}

.navigation__menu__item span {
  position: relative;
  display: inline-block;
}
.navigation__menu__item span::after,
.navigation__menu__item span::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  margin-top: -0.5px;
  background: red;
}
.navigation__menu__item span::before {
  left: -2.5px;
}
.navigation__menu__item span::after {
  right: 2.5px;
  background: $white;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.navigation__menu__item:hover span:before {
  background: $white;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.navigation__menu__item:hover span:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}


// 5. Hero
// -------

.home__hero {
  position: relative;
  height: 100vh;
}

.home__hero__logo__split {
  width: 100%;
  height: auto;
}

.home__hero__logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: -1rem;
}

// 5. Introduction
// ---------------

.home__introduction h2 {
  text-align: justify;
  text-align-last: justify;
  line-height: 0.95;
  &:after {
  content: "";
  display: inline-block;
  width: 100%;
  }
}

.home__feature__video {
  position: relative;
}

.home__feature__video__video {
  height: 100%;
}

.home__feature__video__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home__feature__video__text h2 {
  text-align: justify;
  text-align-last: justify;
  line-height: 0.95;
  &:after {
  content: "";
  display: inline-block;
  width: 100%;
  }
}


// 5. Images
// ---------

.home__images__masonry {
  column-gap: 3rem;
  @include breakpoint(small) {
    column-count:1;
  }
  @include breakpoint(medium) {
    column-count:2;
  }
}

.home__images__masonry__item {
  column-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 2rem;
  webkit-padding-after: 0;
  display: inline-block;
}


// 5. Products
// -----------

.home__products {
  @include breakpoint(small) {
  height: auto
  }
  @include breakpoint(medium) {
  height: 100vh
  }
 }

.home__products__inner {
  background-repeat: no-repeat;
  background-position: 50% 50%; 
  background-size: auto 75%;
}

.home__products__title {
  text-align: justify;
  text-align-last: justify;
  line-height: 0.95;
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
  &:hover {
    color: transparent;
    -webkit-text-stroke: 2px $white;
  }
}

// 5. Stockists
// ------------

.home__stockist__title {
  &:hover {
  color: transparent;
  -webkit-text-stroke: 2px $white;
  }
}