// Typography
// ----------

$line-height--tighter: 1;
$line-height--tight: 1.16;
$line-height--base: 1.6;

$letter-spacing--tighter: -0.027em;
$letter-spacing--tight: -0.018em;
$letter-spacing--looser: 1em;
$letter-spacing--loose: 0.15em;

$primary-font-family: 'GT America Expanded Medium', sans-serif;
$secondary-font-family: 'GT America Medium', sans-serif;