---
layout: default
---

<div class="section-page grid-y align-center" style="min-height: 100vh">
  <div class="shrink cell">
    
    <div class="grid-container">
      <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
          {% for detail in page.details %}
          <div class="cell margin-bottom-2" data-aos="fade-up">
            <div class="margin-bottom-1 text-uppercase"><h2>{{detail.title}}<h2></div>
            {{detail.text | markdownify}}
          </div>
          {% endfor %}
      </div>
    </div>

  </div>
</div>