---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body>
  
{% if page.layout == "home" %}
 <div class="grid-y align-center loader">
   <div class="shrink cell">
     <div class="grid-x grid-padding-x align-center">
     	<div class="shrink cell text-uppercase" data-aos="fade-up">
    		<h1>{{site.title}}</h1>
    	</div>
   </div>
  </div>
 </div>
{% endif %}

<!-- Off Canvas Navigation -->
<div class="off-canvas position-right" id="offCanvas" data-off-canvas data-transition="overlap">
{% include offcanvas.html %}
</div>
<!-- End Off Canvas Navigation --> 

<div class="off-canvas-content {{page.layout | slugify}}" data-off-canvas-content>
{% include navigation.html %}
{% include footer.html %}


<!-- Content -->
{{content}}
<!-- End Content -->


</div>

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<script>
{% for product in page.products %}
$('#show_div-{{product.title | slugify}}').hover(function() { 
  $('#product-details-{{product.title | slugify}}').show(); 
  }, function() { 
  $('#product-details-{{product.title | slugify}}').hide(); 
});
{% endfor %}

{% for product in page.cocktails %}
$('#show_div-{{product.title | slugify}}').hover(function() { 
  $('#product-details-{{product.title | slugify}}').show(); 
  }, function() { 
  $('#product-details-{{product.title | slugify}}').hide(); 
});
{% endfor %}
</script>

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->

<div id="preload">
{% for image in page.products %}
{% include images/portrait.html %}
{% endfor %}
</div>

</body>

</html>