---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body>
  
<div class="grid-y align-center loader" data-closable>
	<div class="shrink cell">
	 <div class="grid-x grid-padding-x align-center">
	 	<div class="shrink cell text-uppercase text-center">
			<div><img src="/assets/icons/logo.gif" class="age-image"></div>
			<button type="button" class="button text-uppercase age-button margin-top-1" data-close>I Am Over 18</button>
		</div>
	</div>
	</div>
</div>

<!-- Off Canvas Navigation -->
<div class="off-canvas position-right" id="offCanvas" data-off-canvas data-transition="overlap">
  {% include offcanvas.html %}
</div>
<!-- End Off Canvas Navigation --> 

<div class="off-canvas-content {{page.layout | slugify}}" data-off-canvas-content>
{% include navigation.html %}

<!-- Content -->
{{content}}
<!-- End Content -->

{% include footer.html %}

</div>

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<script>
{% if page.layout == "home" %}
{% for product in page.products %}
$('#show_div-{{product.title | slugify}}').hover(function() { 
  $('#product-details-{{product.title | slugify}}').show(); 
  }, function() { 
  $('#product-details-{{product.title | slugify}}').hide(); 
});
{% endfor %}
{% endif %}

{% if page.layout == "cocktails" %}
{% for product in page.cocktails %}
$('#show_div-{{product.title | slugify}}').hover(function() { 
  $('#product-details-{{product.title | slugify}}').show(); 
  }, function() { 
  $('#product-details-{{product.title | slugify}}').hide(); 
});
{% endfor %}
{% endif %}
</script>

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->

</body>

</html>