---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body>

<!-- Off Canvas Navigation -->
<div class="off-canvas position-right" id="offCanvas" data-off-canvas data-transition="overlap">
{% include offcanvas.html %}
</div>
<!-- End Off Canvas Navigation --> 

<div class="off-canvas-content {{page.layout | slugify}}" data-off-canvas-content>
<!-- Content -->
{{content}}

<!-- End Content -->

<!-- Footer -->
{% include footer.html %}
<!-- End Footer-->
</div>

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->

<div id="preload">
{% for image in page.products %}
{% include images/portrait.html %}
{% endfor %}
</div>

</body>

</html>