---
layout: default
---

<!-- Hero -->
<section class="section home__hero">
	  
	  <div class="home__hero__video grid-y align-center" style="height: 100%;">
		  <div class="cell shrink">
			  <div class="grid-x align-center">
				  <div class="small-10 medium-8 cell rellax" data-rellax-speed="-7" data-rellax-percentage="0.5">
  					<div class="responsive-embed">
  					 <video src="assets/videos/hero.mp4" autoplay muted playsinline loop data-autoplay></video>
  					</div> 
				  </div> 
			  </div>
		  </div>
	  </div> 
	  
    <div class="home__hero__logo rellax">
      <div class="grid-y align-center" style="height: 100%;">
        <div class="cell shrink">
          <img src="/assets/img/logo-split.svg" class="home__hero__logo__split">
        </div>
      </div>
    </div>
    
</section>
<!-- End Hero -->

<!-- Introduction -->
<section class="section home__introduction">
  <div class="grid-y align-center" style="height: 100%;">
    <div class="cell shrink">
        
    <div class="grid-container">
      <div class="grid-x margin-bottom-2">
          <div class="small-12 medium-12 cell text-uppercase" data-aos="fade-up">
            <h2>Empirical Spirits is about swerving the categories</h2>
          </div>
      </div>
    </div>
    
    <div class="grid-container">
      <div class="grid-x align-center">
          <div class="small-12 medium-10 cell" data-aos="fade-up">
            <p>Founded by Lars Williams and Mark Emil Hermansen. Empirical Spirits is a Copenhagen based free-form distillery and fermentation workshop.</p>

            <p>Building deliciousness from the base up, each individual ingredient is handpicked for its character and freshness - from local biodynamic grains to bespoke yeasts, and koji strains. Reflecting the variance of nature, our offerings will transform as the season change.</p>
            
            <p>Our homemade vacuum stills operate at roughly 10 degrees Celsius, meaning that rather than heating everything to the typical boiling point, lower temperatures help us to retain the botanical subtleties, as well as the flavors, created during fermentation.</p>
          </div>
      </div>
    </div>
    
    </div>
  </div>
</section>
<!-- End Introduction -->


<!-- Images -->
<section class="section home__images padding-top-2 padding-bottom-2 fp-auto-height-responsive">
  <div class="grid-container">
    <div class="grid-x padding-top-2 padding-bottom-2">
      <div class="small-12 cell">
      
        <div class="home__images__masonry" data-aos="fade-up">
          {% for image in page.images %}
            <div class="home__images__masonry__item">
              {% if image.aspect == "square" %}
              {% include images/square.html %}
              {% elsif image.aspect == "landscape" %}
              {% include images/landscape.html %}
              {% elsif image.aspect == "portrait" %}
              {% include images/portrait.html %}
              {% endif %}
              <div class="grid-x grid-padding-y {% if image.text-align%}align-{{image.text-align}}{% endif %}">
                <div class="small-12 medium-8 large-6 cell small-text-left {% if image.text-align%}medium-text-{{image.text-align}}{% endif %}">
                  <small>{{image.text}}</small>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
</section>
<!-- End Images -->

<!-- Feature Film -->
<section class="section home__feature__video padding-top-2 padding-bottom-2">
  
	  <div class="grid-y align-center" style="height: 100%;">
		  <div class="cell shrink">
			  <div class="grid-x align-center">
				  <div class="small-10 medium-8 cell" data-rellax-speed="-7" data-rellax-percentage="0.5">
  					<div class="responsive-embed">
  					 <video src="assets/videos/machinery.mp4" autoplay muted playsinline loop data-autoplay></video>
  					</div> 
				  </div> 
			  </div>
		  </div>
	  </div> 
	  
    <div class="home__feature__video__text">
      <div class="grid-y align-center" style="height: 100%;">
        <div class="cell shrink">
         
         <div class="grid-container">
          <div class="grid-x">
            <div class="small-12 medium-12 cell text-uppercase" data-aos="fade-up">
              <h2>Free-form spirits distilled ferments not conforming to a regular OR formal structure or shape</h2>
            </div>
          </div>
        </div>
    
         
         
        </div>
      </div>
    </div>
  
  
</section>
<!-- End Feature Film -->

<!-- Products -->
<section class="section home__products padding-top-2 padding-bottom-2">
  <div class="grid-y align-center home__products__inner" style="height: 100%">
    <div class="shrink cell">

    <div class="grid-x grid-padding-y" data-aos="fade-up">
        <div class="small-12 medium-12 cell text-uppercase text-center">
          <h5 class="section__title">Bottles</h3>
        </div>
    </div>
      
    <div class="grid-x grid-padding-x grid-padding-y" data-aos="fade-up">
      
      <div class="cell small-12 medium-8 text-uppercase">
      {% for product in page.products %}
        <a href="{{product.link}}" class="link" id="show_div-{{product.title | slugify}}" data-bgcolor="{{product.color}}" data-bg="{{product.image}}"><h1 class="home__products__title">{{product.title}}</h1></a>
      {% endfor %}
      </div>
      
      <div class="cell small-12 medium-4 text-uppercase hide-for-small-only">
      {% for product in page.products %}
          <div class="product-details" id="product-details-{{product.title | slugify}}" style="display: none;">
          Botanicals — {{product.botanicals}}</br>
          Grains — {{product.grains}}</br>
          Grains — {{product.koji}}</br>
          Yeast — {{product.yeast}}</br>
          {% if product.maturation %}Maturation – {{product.maturation}}</br>{% endif %}
          Volume — {{product.volume}}</br>
          ABV — {{product.abv}}</br>
          </div>
      {% endfor %}
      </div>
      
    </div>
    
    </div>
  </div>
</section>
<!-- End Products -->

<!-- Stockists -->
<section class="section home__stockists padding-top-2 padding-bottom-2">
  <div class="grid-y align-center" style="height: 100%">
    <div class="shrink cell">

    <div class="grid-x padding-top-1 padding-bottom-1" data-aos="fade-up">
        <div class="small-12 medium-12 cell text-uppercase text-center">
          <h5 class="section__title">Stockists</h3>
        </div>
    </div>
  
    
    <div class="grid-x padding-1 home__stockists__list" data-aos="fade-up">
      {% for stockist in page.stockists %}
        <div class="cell small-12 text-uppercase text-center">
          <a href="{{ stockist.link}}" target="_blank"><h1 class="home__stockist__title">{{stockist.title}}</h1></a>
        </div>
      {% endfor %}
    </div>
  
    </div>
  </div>
</section>
<!-- End Stockists -->

<!-- Newsletter -->
<section class="section home__newsletter padding-top-3 padding-bottom-3" id="newsletter">
  <div class="grid-y align-center" style="height: 100%">
    <div class="shrink cell">

      <div class="grid-x padding-top-3 padding-bottom-3" data-aos="fade-up">
        <div class="small-12 medium-12 cell text-uppercase text-center">
          <h5 class="section__title">Newsletter</h3>
        </div>
      </div>

  
      <div class="grid-x padding-top-2 padding-bottom-2 align-center" data-aos="fade-up">
        <div class="small-12 medium-6 cell">
        <form action="" method="post" class="validate" target="_blank" novalidate="">
          
          <div class="input-group">
            <input class="input-group-field" type="email" value="" name="EMAIL" placeholder="Email">
            
            <div class="input-group-button">
              <button type="submit" class="button postfix hollow" name="subscribe" value="Subscribe">
                Yes
              </button>
            </div>
          </div>
          
        </form>
        </div>
      </div>
      
    </div>
  </div>  
</section>
<!-- End Newsletter -->